
* {
    margin: 0px;
    padding: 0px;
    font-family: 'poirent one', cursive ;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

h1,
h2 {
    text-align: center;
    font-family: 'krona One', sans-serif;
}

.section-flex {
    display: flex;
    flex-wrap: wrap;
}

.character {
    width: 25%;
    margin: 3%;
    border: 2px palevioletred solid;
    border-right: 10px palevioletred solid;
    border-bottom: 10px palevioletred solid;
    text-align: center;
    border-radius: 5px;
}

.character img {
    width: 80%;
    border-radius: 3%;
}

.info-character {
    text-align: justify;
    padding: 3%;
}

h2{
    font-weight: bold;
    margin-bottom: 2%;
}

footer {
    background-color: palevioletred;
    color: white;
    height: 80px;
    text-align: center;
}

footer p {
    padding-top: 2%;
}

/* CSS Formulario */

form {
    margin-left: 20%;
    width: 80%;
    text-align: left;
}

.elemnt-flex {
    width: 100%;
    margin-bottom: 2%;
}

.label {
    width: 20%;
    float: left;
}

.elemnt-flex input,
select,
textarea {
    width: 70%;
    height: 30px;
}

.btn-div {
    text-align: justify;
    width: 80%;
    margin: 2%;
}

.btn-div button{
    background-color: palevioletred;
    border: 5px palevioletred;
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
    color: white;
}

/*Inicia nuestro menú despeglable*/

#menu ul li{
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}

#menu ul ul{
    position: absolute;
    top: 100%;
    left: 0;
    background: palevioletred;
    padding: 0;
    display: none;
}

#menu ul li:hover>ul{
    display: block;
}

#menu ul ul li {
    float: none;
    margin-top: 10px;
    width: 150px;
}
